services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - .env.infrastructure
    environment:
      POSTGRES_USER: ${DB_ROOT_USER}
      POSTGRES_PASSWORD: ${DB_ROOT_PASSWORD}
      POSTGRES_DB: ${DB_ROOT_DATABASE}
      TZ: Europe/Moscow
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_ROOT_USER} -d ${DB_ROOT_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
    networks:
      - infrastructure_net


  redis:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: redis_cache
    restart: unless-stopped
    env_file:
      - .env.infrastructure
    environment:
      TZ: Europe/Moscow
      REDIS_ROOT_USER: ${REDIS_ROOT_USER}
      REDIS_ROOT_PASSWORD: ${REDIS_ROOT_PASSWORD}
#    entrypoint: >
#      sh -c "
#        apt update && apt install -y gettext-base >/dev/null &&
#        envsubst < /usr/local/etc/redis/redis.conf > /tmp/redis.conf &&
#        exec redis-server /tmp/redis.conf --replicaof no one
#      "
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -u redis://${REDIS_ROOT_USER}:${REDIS_ROOT_PASSWORD}@localhost:6379 ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M
    networks:
      - infrastructure_net


volumes:
  postgres_data:
    name: postgres_data
  redis_data:
    name: redis_data

networks:
  infrastructure_net:
    name: infrastructure_net
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
#    external: true